---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Authorization:
      - Basic NTIwODc0ZDQzYjg5NGM4M2JhNzc4MTcxYWVhZDE2YTU6M2U4OTBhM2Q5Nzg1NDE5YThjOTFkOWU5Y2RmYmE0NTY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 4053108e8cfb6e21
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQBrJ7tbHCmQkO54Umk57_R-JOrkE4MegEnD9b7nqsGRyA2DJ0jaf0YPe8qN5lbyl-gJA5ZEFfYlE8Ksq7srNw0c_9FbrBWKVatwmzQhVAoTYHfv7UBoDCeO697Gtu0DxUURnemeBPaDWrejjfYNqqLWtGABHzGghC1rSMUzxv-0cU0swb_C2e0B8GaPx2wrF4gpdFOfKru2RVIdy2jWQAllqbYCiPo","token_type":"Bearer","expires_in":3600,"scope":"user-library-modify
        playlist-modify-public user-read-email"}'
  recorded_at: Wed, 07 Jun 2023 00:33:34 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/users/1281426323/playlists
    body:
      encoding: UTF-8
      string: '{"name":"My Test Playlist"}'
    headers:
      Authorization:
      - Bearer BQBrJ7tbHCmQkO54Umk57_R-JOrkE4MegEnD9b7nqsGRyA2DJ0jaf0YPe8qN5lbyl-gJA5ZEFfYlE8Ksq7srNw0c_9FbrBWKVatwmzQhVAoTYHfv7UBoDCeO697Gtu0DxUURnemeBPaDWrejjfYNqqLWtGABHzGghC1rSMUzxv-0cU0swb_C2e0B8GaPx2wrF4gpdFOfKru2RVIdy2jWQAllqbYCiPo
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/39VElhndUuQow15hEqEelL
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/39VElhndUuQow15hEqEelL"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/39VElhndUuQow15hEqEelL",
          "id" : "39VElhndUuQow15hEqEelL",
          "images" : [ ],
          "name" : "My Test Playlist",
          "owner" : {
            "display_name" : "Ollie",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/1281426323"
            },
            "href" : "https://api.spotify.com/v1/users/1281426323",
            "id" : "1281426323",
            "type" : "user",
            "uri" : "spotify:user:1281426323"
          },
          "primary_color" : null,
          "public" : true,
          "snapshot_id" : "MSw3OTY3ZDM2NmI4YzJjMTBmZjg4NjRmZDQ1MmQ2NzUyOGNlM2E4NTVh",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/39VElhndUuQow15hEqEelL/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:39VElhndUuQow15hEqEelL"
        }
  recorded_at: Wed, 07 Jun 2023 00:33:35 GMT
recorded_with: VCR 6.1.0
