---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Authorization:
      - Basic NTIwODc0ZDQzYjg5NGM4M2JhNzc4MTcxYWVhZDE2YTU6M2U4OTBhM2Q5Nzg1NDE5YThjOTFkOWU5Y2RmYmE0NTY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - e252c854d643e008
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQCI71UgAHeo1rq2i3f7XJLtIohXU8_CA3MHdK267JTM1xO7T3xHNDYALyX44iSpiDO_g8VGKxsXkSryNuR26LdWXDsEliMAaNdst2igN2JMbCvJdATK6-N8HGyUdzA8y00ilUDSkZaAVSsxTqlBQslJ0ZbGdzwzig3ctK3skdJI-SkI_XCG4pe_NmcmqlPf-_Rya_0pKqgAq1kJM1YYZPQcmLijGdQ","token_type":"Bearer","expires_in":3600,"scope":"user-library-modify
        playlist-modify-public user-read-email"}'
  recorded_at: Wed, 07 Jun 2023 00:33:35 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/53wxBdREY48iHXn8Ke7PAJ/tracks
    body:
      encoding: UTF-8
      string: '{"uris":["spotify:track:2TpxZ7JUBn3uw46aR7qd6V","spotify:track:7dt6x5M1jzdTEt8oCbisTK"],"position":null}'
    headers:
      Authorization:
      - Bearer BQCI71UgAHeo1rq2i3f7XJLtIohXU8_CA3MHdK267JTM1xO7T3xHNDYALyX44iSpiDO_g8VGKxsXkSryNuR26LdWXDsEliMAaNdst2igN2JMbCvJdATK6-N8HGyUdzA8y00ilUDSkZaAVSsxTqlBQslJ0ZbGdzwzig3ctK3skdJI-SkI_XCG4pe_NmcmqlPf-_Rya_0pKqgAq1kJM1YYZPQcmLijGdQ
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "snapshot_id" : "MTgsZjQ2OGYzMjI2Njc3NTk4Yzc4ZTc0OTljNGM3OTY1OWE2MWQzMmJkMQ=="
        }
  recorded_at: Wed, 07 Jun 2023 00:33:35 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/53wxBdREY48iHXn8Ke7PAJ?fields=name,id,tracks.items(track(name,href,album(name,href)))
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCI71UgAHeo1rq2i3f7XJLtIohXU8_CA3MHdK267JTM1xO7T3xHNDYALyX44iSpiDO_g8VGKxsXkSryNuR26LdWXDsEliMAaNdst2igN2JMbCvJdATK6-N8HGyUdzA8y00ilUDSkZaAVSsxTqlBQslJ0ZbGdzwzig3ctK3skdJI-SkI_XCG4pe_NmcmqlPf-_Rya_0pKqgAq1kJM1YYZPQcmLijGdQ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjFiNjE2YjQ4MzE1Y2FiMzc5ZmJhNGYxNDNjMjdlODdhIg=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : "53wxBdREY48iHXn8Ke7PAJ",
          "name" : "My Test Playlist",
          "tracks" : {
            "items" : [ {
              "track" : {
                "album" : {
                  "href" : "https://api.spotify.com/v1/albums/6akEvsycLGftJxYudPjmqK",
                  "name" : "Place In The Sun"
                },
                "href" : "https://api.spotify.com/v1/tracks/2TpxZ7JUBn3uw46aR7qd6V",
                "name" : "All I Want"
              }
            }, {
              "track" : {
                "album" : {
                  "href" : "https://api.spotify.com/v1/albums/6trNtQUgC8cgbWcqoMYkOR",
                  "name" : "beerbongs & bentleys"
                },
        [...]
