---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Authorization:
      - Basic NTIwODc0ZDQzYjg5NGM4M2JhNzc4MTcxYWVhZDE2YTU6M2U4OTBhM2Q5Nzg1NDE5YThjOTFkOWU5Y2RmYmE0NTY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 9b3200aaf6262544
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQBDkjT18qAHIhLPR8pz_JTtWp7xQBqMfb9_AwJeAflRgPxLGOzVlMhxxfToY3FNx-F4TeBCXLY--t_ewVPe8DTyHWkBCe7gqHw6AdbxgTkcQ2oVD7SLyILNy9kzmid28yDQkj9PR27BwirGaa7eLxQKKoeeQMwXIEKRNnNYtnsAJYpvWss4HQih3idbV1Zd8255W6PbCX_0XN9WpvIoX8aHUeL0ICs","token_type":"Bearer","expires_in":3600,"scope":"user-library-modify
        playlist-modify-public user-read-email"}'
  recorded_at: Wed, 07 Jun 2023 00:33:33 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/recommendations?limit=10&market=US&seed_artists=2h93pZq0e7k5yf4dywlkpM&seed_genres=pop,rock&seed_tracks=0Svkvt5I79wficMFgaqEQJ,7lQ8MOhq6IN2w8EYcFNSUk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBDkjT18qAHIhLPR8pz_JTtWp7xQBqMfb9_AwJeAflRgPxLGOzVlMhxxfToY3FNx-F4TeBCXLY--t_ewVPe8DTyHWkBCe7gqHw6AdbxgTkcQ2oVD7SLyILNy9kzmid28yDQkj9PR27BwirGaa7eLxQKKoeeQMwXIEKRNnNYtnsAJYpvWss4HQih3idbV1Zd8255W6PbCX_0XN9WpvIoX8aHUeL0ICs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : [ {
            "album" : {
              "album_group" : "SINGLE",
              "album_type" : "SINGLE",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/3rWZHrfrsPBxVy692yAIxF"
                },
                "href" : "https://api.spotify.com/v1/artists/3rWZHrfrsPBxVy692yAIxF",
                "id" : "3rWZHrfrsPBxVy692yAIxF",
                "name" : "WILLOW",
                "type" : "artist",
                "uri" : "spotify:artist:3rWZHrfrsPBxVy692yAIxF"
              } ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/5cAJxOFxRwXkCihLMQJYtl"
              },
              "href" : "https://api.spotify.com/v1/albums/5cAJxOFxRwXkCihLMQJYtl",
              "id" : "5cAJxOFxRwXkCihLMQJYtl",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/ab67616d0000b2732e2e393c5933ec6db7822508",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/ab67616d00001e022e2e393c5933ec6db7822508",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ab67616d000048512e2e393c5933ec6db7822508",
                "width" : 64
              } ],
              "is_playable" : true,
              "name" : "3",
              "release_date" : "2014-11-11",
              "release_date_precision" : "day",
              "total_tracks" : 3,
              "type" : "album",
              "uri" : "spotify:album:5cAJxOFxRwXkCihLMQJYtl"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/3rWZHrfrsPBxVy692yAIxF"
              },
              "href" : "https://api.spotify.com/v1/artists/3rWZHrfrsPBxVy692yAIxF",
              "id" : "3rWZHrfrsPBxVy692yAIxF",
              "name" : "WILLOW",
              "type" : "artist",
              "uri" : "spotify:artist:3rWZHrfrsPBxVy692yAIxF"
            }, {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/7tYKF4w9nC0nq9CsPZTHyP"
              },
              "href" : "https://api.spotify.com/v1/artists/7tYKF4w9nC0nq9CsPZTHyP",
              "id" : "7tYKF4w9nC0nq9CsPZTHyP",
              "name" : "SZA",
              "type" : "artist",
              "uri" : "spotify:artist:7tYKF4w9nC0nq9CsPZTHyP"
            } ],
            "disc_number" : 1,
            "duration_ms" : 253800,
            "explicit" : false,
            "external_ids" : {
              "isrc" : "QMJMT1400589"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/3e90JC8EKLsSDUHmPpxkfp"
            },
            "href" : "https://api.spotify.com/v1/tracks/3e90JC8EKLsSDUHmPpxkfp",
            "id" : "3e90JC8EKLsSDUHmPpxkfp",
            "is_local" : false,
            "is_playable" : true,
            "name" : "9",
            "popularity" : 64,
            "preview_url" : null,
            "track_number" : 2,
            "type" : "track",
            "uri" : "spotify:track:3e90JC8EKLsSDUHmPpxkfp"
          }, {
            "album" : {
              "album_group" : "SINGLE",
              "album_type" : "SINGLE",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/64KEffDW9EtZ1y2vBYgq8T"
                },
                "href" : "https://api.spotify.com/v1/artists/64KEffDW9EtZ1y2vBYgq8T",
                "id" : "64KEffD[...]
