---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Authorization:
      - Basic NTIwODc0ZDQzYjg5NGM4M2JhNzc4MTcxYWVhZDE2YTU6M2U4OTBhM2Q5Nzg1NDE5YThjOTFkOWU5Y2RmYmE0NTY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 4818cddf1277b47d
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQBiqYMd2rdpsk2WZp2sQPBiHIe-gwYKak6NoumPzRmDFZoJvDx49BHa69Gc1yrN1oPGs9e6tvmRqyzS9g7fK93vTyYfNCRdfKjb6Dl5MK7hsjUxiNWrWp0FJ8Db_PTBVAV7TyfGhxBpkFmBXhX_P0MARck5-8ewLjhmhG1VvysHwJO4ZoAH_YMD9o4MsHRs01qb04Oaq3pD6wUeiJj9FIYHgso8qJU","token_type":"Bearer","expires_in":3600,"scope":"user-library-modify
        playlist-modify-public user-read-email"}'
  recorded_at: Wed, 07 Jun 2023 00:33:34 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&market=US&q=artist:Linkin%20Park%20track:In%20The%20End&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBiqYMd2rdpsk2WZp2sQPBiHIe-gwYKak6NoumPzRmDFZoJvDx49BHa69Gc1yrN1oPGs9e6tvmRqyzS9g7fK93vTyYfNCRdfKjb6Dl5MK7hsjUxiNWrWp0FJ8Db_PTBVAV7TyfGhxBpkFmBXhX_P0MARck5-8ewLjhmhG1VvysHwJO4ZoAH_YMD9o4MsHRs01qb04Oaq3pD6wUeiJj9FIYHgso8qJU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=artist%3ALinkin+Park+track%3AIn+The+End&type=track&market=US&offset=0&limit=1",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/6XyY86QOPPrYVGvF9ch6wz"
                  },
                  "href" : "https://api.spotify.com/v1/artists/6XyY86QOPPrYVGvF9ch6wz",
                  "id" : "6XyY86QOPPrYVGvF9ch6wz",
                  "name" : "Linkin Park",
                  "type" : "artist",
                  "uri" : "spotify:artist:6XyY86QOPPrYVGvF9ch6wz"
                } ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/6hPkbAV3ZXpGZBGUvL6jVM"
                },
                "href" : "https://api.spotify.com/v1/albums/6hPkbAV3ZXpGZBGUvL6jVM",
                "id" : "6hPkbAV3ZXpGZBGUvL6jVM",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273e2f039481babe23658fc719a",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02e2f039481babe23658fc719a",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851e2f039481babe23658fc719a",
                  "width" : 64
                } ],
                "is_playable" : true,
                "name" : "Hybrid Theory (Bonus Edition)",
                "release_date" : "2000-10-24",
                "release_date_precision" : "day",
                "total_tracks" : 15,
                "type" : "album",
                "uri" : "spotify:album:6hPkbAV3ZXpGZBGUvL6jVM"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/6XyY86QOPPrYVGvF9ch6wz"
                },
                "href" : "https://api.spotify.com/v1/artists/6XyY86QOPPrYVGvF9ch6wz",
                "id" : "6XyY86QOPPrYVGvF9ch6wz",
                "name" : "Linkin Park",
                "type" : "artist",
                "uri" : "spotify:artist:6XyY86QOPPrYVGvF9ch6wz"
              } ],
              "disc_number" : 1,
              "duration_ms" : 216880,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "USWB10002407"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/60a0Rd6pjrkxjPbaKzXjfq"
              },
              "href" : "https://api.spotify.com/v1/tracks/60a0Rd6pjrkxjPbaKzXjfq",
              "id" : "60a0Rd6pjrkxjPbaKzXjfq",
              "is_local" : false,
              "is_playable" : true,
              "name" : "In the End",
              "popularity" : 88,
              "preview_url" : "https://p.scdn.co/mp3-preview/b5ee275ca337899f762b1c1883c11e24a04075b0?cid=520874d43b894c83ba778171aead16a5",
              "track_number" : 8,
              "type" : "track",
              "uri" : "spotify:track:60a0Rd6pjrkxjPbaKzXjfq"
            } ],
            "limit" : 1,
            "next" : "https://api.spotify.com/v1/search?query=artist%3ALinkin+Park+track%3AIn+The+End&type=track&market=US&offset=1&limit=1",
            "offset" : 0,
            "previous" : null,
            "total" : 91
          }
        }
  recorded_at: Wed, 07 Jun 2023 00:33:34 GMT
recorded_with: VCR 6.1.0
