---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Authorization:
      - Basic NTIwODc0ZDQzYjg5NGM4M2JhNzc4MTcxYWVhZDE2YTU6M2U4OTBhM2Q5Nzg1NDE5YThjOTFkOWU5Y2RmYmE0NTY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 4c66e99028f70e43
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQAGVzD326Ni0LWi9K3w1BYNWDvk1IccPf8iyBG7PGCd-pVyzDjgUMR4PY-T5gY6mpw06Io6bkUtMFA2qS3s6OO-KtDP4KG4KnXynBVvP7sV1_YiMvuEG4jZVGSZoEbBYZHyZzzCVwWXP2eCnXZfujWNYkdcROLXmUAeZPhnQWkqXrEySZQlbeQ6CHIIuOklAp0KihGnfh1bigf7Ne2pMiel2xhNKSw","token_type":"Bearer","expires_in":3600,"scope":"user-library-modify
        playlist-modify-public user-read-email"}'
  recorded_at: Wed, 07 Jun 2023 00:33:19 GMT
[...]
- request:
    method: post
    uri: https://api.spotify.com/v1/users/1281426323/playlists
    body:
      encoding: UTF-8
      string: '{"name":"Facade Test Playlist"}'
    headers:
      Authorization:
      - Bearer BQAGVzD326Ni0LWi9K3w1BYNWDvk1IccPf8iyBG7PGCd-pVyzDjgUMR4PY-T5gY6mpw06Io6bkUtMFA2qS3s6OO-KtDP4KG4KnXynBVvP7sV1_YiMvuEG4jZVGSZoEbBYZHyZzzCVwWXP2eCnXZfujWNYkdcROLXmUAeZPhnQWkqXrEySZQlbeQ6CHIIuOklAp0KihGnfh1bigf7Ne2pMiel2xhNKSw
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/1C6LRBCKeNoNormb2rsQV0
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/1C6LRBCKeNoNormb2rsQV0"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/1C6LRBCKeNoNormb2rsQV0",
          "id" : "1C6LRBCKeNoNormb2rsQV0",
          "images" : [ ],
          "name" : "Facade Test Playlist",
          "owner" : {
            "display_name" : "Ollie",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/1281426323"
            },
            "href" : "https://api.spotify.com/v1/users/1281426323",
            "id" : "1281426323",
            "type" : "user",
            "uri" : "spotify:user:1281426323"
          },
          "primary_color" : null,
          "public" : true,
          "snapshot_id" : "MSwwNmQ3MzZmMWYxODE0Y2UwNjdlZGNiOWQxNWUyNzEyZmE4OTQ5NmI1",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/1C6LRBCKeNoNormb2rsQV0/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:1C6LRBCKeNoNormb2rsQV0"
        }
  recorded_at: Wed, 07 Jun 2023 00:33:20 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/1C6LRBCKeNoNormb2rsQV0?fields=name,id,tracks.items(track(name,href,album(name,href)))
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBagbFraWexYQZjhMyA5hLUKL3yljZoHlCROx4pZflMbRDq4udZkF9jba0PeEFpfm2LTwJQ_kVOrtMdw3hj6eCofeENBBR4LtilLlK2QWHStQzltU8jP9bJB-Lu_E8Buc8GTs6HdX7xFzcpUYO-KWQI7Mi63LEonG3SDrUqz2TfoCUIm9TjrGvlfbK9hRHMpdSZIu6S2aqC5ignQMuXp56eBEIHCVc
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImQyOTk0YWJkOWE4NDcyMjFlMTY4YzUzYjE2N2ZjZTQyIg=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : "1C6LRBCKeNoNormb2rsQV0",
          "name" : "Facade Test Playlist",
          "tracks" : {
            "items" : [ ]
          }
        }
  recorded_at: Wed, 07 Jun 2023 00:33:20 GMT
recorded_with: VCR 6.1.0
