---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    headers:
      Authorization:
      - Basic NTIwODc0ZDQzYjg5NGM4M2JhNzc4MTcxYWVhZDE2YTU6M2U4OTBhM2Q5Nzg1NDE5YThjOTFkOWU5Y2RmYmE0NTY=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 8a6d4e406868bc26
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQCMYe8uEr2MS9u5tqJRXaIKzU_Dy9mpkB7C8XlQqVp1qw2-q8vbJtoIRX42eu1c_HlD1R7m-eTayb6GdsDttLRldsbiv95636rHywjCpff8bxjlholoyVDrw7pWou3GhSfT5N6Yap9AOIb_uEWQ1xXhn_6UVyUHn-hxYmqSYSrEnZGJQMVqG6sksfv4PwBTGIAxWcUrGN-2nzpHDcCJLiq149dDntg","token_type":"Bearer","expires_in":3600,"scope":"user-library-modify
        playlist-modify-public user-read-email"}'
  recorded_at: Wed, 07 Jun 2023 00:33:20 GMT
[...]
- request:
    method: post
    uri: https://api.spotify.com/v1/users/1281426323/playlists
    body:
      encoding: UTF-8
      string: '{"name":"Facade Test Populated Playlist"}'
    headers:
      Authorization:
      - Bearer BQCMYe8uEr2MS9u5tqJRXaIKzU_Dy9mpkB7C8XlQqVp1qw2-q8vbJtoIRX42eu1c_HlD1R7m-eTayb6GdsDttLRldsbiv95636rHywjCpff8bxjlholoyVDrw7pWou3GhSfT5N6Yap9AOIb_uEWQ1xXhn_6UVyUHn-hxYmqSYSrEnZGJQMVqG6sksfv4PwBTGIAxWcUrGN-2nzpHDcCJLiq149dDntg
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/3EUY0ONWvSVTndWD8ij4HR
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/3EUY0ONWvSVTndWD8ij4HR"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/3EUY0ONWvSVTndWD8ij4HR",
          "id" : "3EUY0ONWvSVTndWD8ij4HR",
          "images" : [ ],
          "name" : "Facade Test Populated Playlist",
          "owner" : {
            "display_name" : "Ollie",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/1281426323"
            },
            "href" : "https://api.spotify.com/v1/users/1281426323",
            "id" : "1281426323",
            "type" : "user",
            "uri" : "spotify:user:1281426323"
          },
          "primary_color" : null,
          "public" : true,
          "snapshot_id" : "MSw3Mjc5NjM0ZTZiMTlkMWFkOWM5YTA4NTUyZWI2OTdiODgyNWZmNjc2",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/3EUY0ONWvSVTndWD8ij4HR/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:3EUY0ONWvSVTndWD8ij4HR"
        }
  recorded_at: Wed, 07 Jun 2023 00:33:21 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/recommendations?limit=10&market=US&seed_artists=2h93pZq0e7k5yf4dywlkpM&seed_genres=pop,rock&seed_tracks=0Svkvt5I79wficMFgaqEQJ,7lQ8MOhq6IN2w8EYcFNSUk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCMYe8uEr2MS9u5tqJRXaIKzU_Dy9mpkB7C8XlQqVp1qw2-q8vbJtoIRX42eu1c_HlD1R7m-eTayb6GdsDttLRldsbiv95636rHywjCpff8bxjlholoyVDrw7pWou3GhSfT5N6Yap9AOIb_uEWQ1xXhn_6UVyUHn-hxYmqSYSrEnZGJQMVqG6sksfv4PwBTGIAxWcUrGN-2nzpHDcCJLiq149dDntg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : [ {
            "album" : {
              "album_group" : "ALBUM",
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/6FBDaR13swtiWwGhX1WQsP"
                },
                "href" : "https://api.spotify.com/v1/artists/6FBDaR13swtiWwGhX1WQsP",
                "id" : "6FBDaR13swtiWwGhX1WQsP",
                "name" : "blink-182",
                "type" : "artist",
                "uri" : "spotify:artist:6FBDaR13swtiWwGhX1WQsP"
              } ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/6DMUAqxiFfLdqXv0vqcrQA"
              },
              "href" : "https://api.spotify.com/v1/albums/6DMUAqxiFfLdqXv0vqcrQA",
              "id" : "6DMUAqxiFfLdqXv0vqcrQA",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/ab67616d0000b2730a4ae12eb3a9fb7e3815001c",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/ab67616d00001e020a4ae12eb3a9fb7e3815001c",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ab67616d000048510a4ae12eb3a9fb7e3815001c",
                "width" : 64
              } ],
              "is_playable" : true,
              "name" : "blink-182",
              "release_date" : "2003-01-01",
              "release_date_precision" : "day",
              "total_tracks" : 15,
              "type" : "album",
              "uri" : "spotify:album:6DMUAqxiFfLdqXv0vqcrQA"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/6FBDaR13swtiWwGhX1WQsP"
              },
              "href" : "https://api.spotify.com/v1/artists/6FBDaR13swtiWwGhX1WQsP",
              "id" : "6FBDaR13swtiWwGhX1WQsP",
              "name" : "blink-182",
              "type" : "artist",
              "uri" : "spotify:artist:6FBDaR13swtiWwGhX1WQsP"
            } ],
            "disc_number" : 1,
            "duration_ms" : 227240,
            "explicit" : false,
            "external_ids" : {
              "isrc" : "USMC10346123"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/1oTo3ijRbaDAtrjJrGAPSw"
            },
            "href" : "https://api.spotify.com/v1/tracks/1oTo3ijRbaDAtrjJrGAPSw",
            "id" : "1oTo3ijRbaDAtrjJrGAPSw",
            "is_local" : false,
            "is_playable" : true,
            "name" : "I Miss You",
            "popularity" : 73,
            "preview_url" : null,
            "track_number" : 3,
            "type" : "track",
            "uri" : "spotify:track:1oTo3ijRbaDAtrjJrGAPSw"
          }, {
            "album" : {
              "album_group" : "ALBUM",
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/2rtsR8zno5naTxY0iJr7M0"
                },
                "href" : "https://api.spotify.com/v1/artists/2rtsR8zno5naTxY0iJr7M0",
                "id" : "2rtsR8zno[...]
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/3EUY0ONWvSVTndWD8ij4HR/tracks
    body:
      encoding: UTF-8
      string: '{"uris":["spotify:track:1oTo3ijRbaDAtrjJrGAPSw","spotify:track:6GgUYuCp1Gac8ECGODmL7R","spotify:track:0j2T0R9dR9qdJYsB7ciXhf","spotify:track:6wNeKPXF0RDKyvfKfri5hf","spotify:track:4SE4yewyGpOYfxfx59Yjc5","spotify:track:50a8bKqlwDEqeiEknrzkTO","spotify:track:4NYwy0R3NdvORX2B6OZXBT","spotify:track:2MF4HtZHBoUliOi9nOAbS0","spotify:track:72TFWvU3wUYdUuxejTTIzt","spotify:track:7rfiXyFb5M9BqdkvKvVEiB"],"position":0}'
    headers:
      Authorization:
      - Bearer BQCMYe8uEr2MS9u5tqJRXaIKzU_Dy9mpkB7C8XlQqVp1qw2-q8vbJtoIRX42eu1c_HlD1R7m-eTayb6GdsDttLRldsbiv95636rHywjCpff8bxjlholoyVDrw7pWou3GhSfT5N6Yap9AOIb_uEWQ1xXhn_6UVyUHn-hxYmqSYSrEnZGJQMVqG6sksfv4PwBTGIAxWcUrGN-2nzpHDcCJLiq149dDntg
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "snapshot_id" : "Miw2OTFiOGE0OGE2Y2I3ZGI0ODdmY2NhMGFlZTljYmYxZTlhZmYzMzQx"
        }
  recorded_at: Wed, 07 Jun 2023 00:33:21 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/playlists/3EUY0ONWvSVTndWD8ij4HR?fields=name,id,tracks.items(track(name,href,album(name,href)))
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAHRunhy3dHNCXaziHL2-jC2NPbwk1WnUkfEBYQxBzeX3bTYfFw4q0iN7IWcYvLkD2zsj18vwjDTwEFP0-vZNbidXNEApHc3NcPw7sbS6vjYL7fNvsbEMWug8UVjI4pioEjHO3uaQtHpPslA5LSpGYBGeOKwzvhqdQj2slzw4whTrOgnQ4gCpBrZT9n3ETzaDXiXVlVM2hU2tZIGaT_HmLC9SaC96c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImE5NDZiNjA0M2M2ODAyMDM3NGY4NzExNGJjMTcwMGU0Ig=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : "3EUY0ONWvSVTndWD8ij4HR",
          "name" : "Facade Test Populated Playlist",
          "tracks" : {
            "items" : [ {
              "track" : {
                "album" : {
                  "href" : "https://api.spotify.com/v1/albums/6DMUAqxiFfLdqXv0vqcrQA",
                  "name" : "blink-182"
                },
                "href" : "https://api.spotify.com/v1/tracks/1oTo3ijRbaDAtrjJrGAPSw",
                "name" : "I Miss You"
              }
            }, {
              "track" : {
                "album" : {
                  "href" : "https://api.spotify.com/v1/albums/7cO0T3BJ6xAkv0BX3TXFAp",
                  "name" : [...]
